$ cat .gitignore
# exclude everything except directories specified

/Codigo/*
!/Codigo/prog18f4550
!/Codigo/balancin2023_embebido.cpp
!/Codigo/balancingraf.m
!/Codigo/estrategia-base-balancin.pdf

/Codigo/prog18f4550/*
!/Codigo/prog18f4550/bal_emb_no_omega.c
!/Codigo/prog18f4550/bal_emb_no_omega.hex

/PCB/*
!/PCB/PCB-Balancin.pdsprj

/Pruebas/CLK/*
!/Pruebas/CLK/test.c

/Pruebas/Encoder/*
!/Pruebas/Encoder/encoders.c

/Pruebas/MPU y RS232/*
!/Pruebas/Encoder/gyro_test.c
!/Pruebas/Encoder/mpu6050.c
!/Pruebas/Encoder/mpu6050.h
!/Pruebas/Encoder/mpu6050.h

/Pruebas/Sensores/*
!/Pruebas/Sensores/sensor_test.c
!/Pruebas/Sensores/VL53L0X.c
!/Pruebas/Sensores/VL53L0X.h

/Pruebas/CalibracionMPU6050/*

/Pruebas/Embebido/*
!/Pruebas/Embebido/balancin_embebido.c
!/Pruebas/Embebido/balancin2023_referencia.cpp